*{
    font-family: 'Arsenal', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    /* background: #ffffff url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat cover; */
}
body {
    background-image: url("https://images.unsplash.com/photo-1521489871110-81dc5a61dbda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80");
    background-size: cover;
}

.main_wrapper {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    
}
.messages_wrapper {
    background-color: transparent;
    width: 50%;
    padding: 2rem;
    margin-right: 1rem;
}

.message_display {
    background-color: #666b6c;
    color: white;
    margin: 1rem;
    border-radius: 15px;
    text-align: left;
    padding: 0.5rem 0rem 0.5rem 1rem;
    height: 250px;
    overflow:hidden;
}

.moving_div {
    position: relative;
    transition: transform 0.5s ease-out;
}

.message_hidden {
    display: none;
}

.editor_wrapper {
    width: 40%;
    height: auto;
    padding: 2rem;
    background-color: transparent;
}

.editor {
    background-color: #666b6c;
    color: white;
    margin: 1rem;
    border-radius: 15px;
    text-align: left;
    padding: 0.5rem 0rem 0.5rem 1rem;
    height: 50vh;
}

button {
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0.2rem 0.2rem #ff0505, -0.3rem -0.3rem black;
}

button:hover, .is-active {
    background-color: #ff0505;
    color: white;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem white, -0.3rem -0.3rem black;
    transform: scale(1.1) rotate(5deg);
}

#submit {
    margin: 1.5rem;
}
#submit:hover {
    transform: scale(1.2) rotate(-5deg);
}