*{
    font-family: 'Arsenal', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.main_wrapper {
    display: flex;
    justify-content: space-evenly;
}
.editor_wrapper {
    background-color: #36393f;
    width: 50%;
}

.editor {
    background-color: whitesmoke;
    color: #36393f;
}

button {
    background-color: white;
    border: none;
    font-style: bold;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0.2rem 0.2rem #ff0505, -0.3rem -0.3rem black;
}